	    <!-- Javascript -->
	    <script type="text/javascript" src="{{site.url}}/js/jquery-1.8.3.min.js"></script>

	    <!-- Stylesheets -->
	    <link href='http://fonts.googleapis.com/css?family=Raleway:500,900,200' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{site.url}}/css/examples/index.css" type="text/css" media="screen" />
		<link href="{{site.url}}/css/syntax.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

		<!--[if lt IE 9]>
			<script type="text/javascript" src="{{site.url}}/js/html5shiv.js"></script>
			<script type="text/javascript" src="{{site.url}}/js/selectivizr.js"></script>
			<script type="text/javascript" src="{{site.url}}/js/respond.js"></script>
		<![endif]-->