	<head>
		<meta charset="utf-8" />
		<title>Profound Grid | A grid system for fixed and fluid layouts</title>
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<meta name="title" content="Profound Grid | A grid system for fixed and fluid layouts" />
		<meta name="description" content="Profound Grid is a responsive grid system for fixed and fluid layouts. Built in SCSS, it gives you flexibility and full control. Profound Grid uses negative margins to calculate columns, so unlike with other grid systems, fluid layouts will look exactly the same in every browser." />
		<meta name="keywords" content="CSS, grid, grid system, Profound, fixed, layout, fluid, responsive, adaptive, design" />
		
		<meta property="og:url" content="http://www.profoundgrid.com"/>
		<meta property="og:title" content="Profound Grid | A grid system for fixed and fluid layouts"/> 
		<meta property="og:type" content="website"/> 
		<meta property="og:image" content="http://www.profoundgrid.comimg/facebook.jpg"/> 
		<meta property="og:site_name" content="Profound Grid"/> 
		<meta property="og:description" content="Profound Grid is a responsive grid system for fixed and fluid layouts. Built in SCSS, it gives you flexibility and full control."/>
		<meta name="viewport" content="initial-scale=1,minimum-scale=1,width=device-width">


{% include css-head.html %}

	</head>
